<div class="row" *ngIf="filtersLoaded | async">
	<div class="col-md-4 mr-auto ml-auto">
		<nb-card accent="primary" class="text-center">
			<nb-card-header>
				<img class="rounded mr-auto ml-auto mt-2 card-img-top" style="width: 100px; height: 100px;" *ngIf="userModel.profile_pic != ''; else else_image"
				 src="/images/{{userModel.image}}" alt="{{ userModel.first_name }}">

				<ng-template #else_image>
					<img class="rounded ml-auto mr-auto mt-2 card-img-top" style="width: 100px; height: 100px;" src="/images/no_user.png" alt="{{ userModel.first_name }}">
				</ng-template>
			</nb-card-header>
			<nb-card-body style="flex: inherit !important;">
				<h5>
					Name: {{userModel.first_name}} {{ userModel.last_name }} ({{ userModel.salary | currency:'INR' }})
				</h5>
				<p>
					Email: {{ userModel.email }}
				</p>
				<p>
					Dsignation: {{ userModel.designation }}
				</p>
				<div>
					<p *ngIf="userModel.is_active; else else_block">
						Status:
						<span class="text-success">Active</span>
					</p>
					<ng-template #else_block>
						<p>
							Status:
							<span class="text-danger">Inactive</span>
						</p>
					</ng-template>
				</div>
			</nb-card-body>
			<nb-card-body>
				<div class="row">
					<div class="col-md-6">
						<button nbButton outline status="primary" class="mr-2" size="xsmall" *ngIf="!edit" (click)="toggleEdit()">Edit</button>
					</div>
					<div class="col-md-6">
						<button size="xsmall" *ngIf="!edit" class="mr-2" (click)="deleteEmployee()" nbButton outline status="danger">Delete</button>
					</div>
				</div>
			</nb-card-body>
		</nb-card>
	</div>
	<div class="col-md-4 mr-auto ml-auto" *ngIf="edit">
		<nb-card class="text-center" accent="info">
			<nb-card-header>
				Edit Employee
			</nb-card-header>
			<nb-card-body>
				<form (ngSubmit)="onFormSubmit()" class="mb-3">

					<div class="form-group" *ngIf="edit">
						<div class="row">
							<div class="col-md-6">
								<label for="first_name">First Name: </label>
								<input type="text" id="first_name" #first_name="ngModel" class="form-control" name="first_name" [(ngModel)]="userModel.first_name"
								 [class.is-invalid]="first_name.invalid && first_name.touched" [class.is-valid]="first_name.valid && first_name.touched"
								 required>
								<small class="text-danger" [class.d-none]="first_name.valid || first_name.untouched">First Name is required</small>
							</div>
							<div class="col-md-6">
								<label for="last_name">Last Name: </label>
								<input type="text" id="last_name" #last_name="ngModel" class="form-control" name="last_name" [(ngModel)]="userModel.last_name"
								 [class.is-invalid]="last_name.invalid && last_name.touched" [class.is-valid]="last_name.valid && last_name.touched"
								 required>
								<small class="text-danger" [class.d-none]="last_name.valid || last_name.untouched">Last Name is required</small>
							</div>
						</div>
						<div class="form-group mt-2 mb-2">
							<label for="">Status: </label>
							<br>
							<div class="form-check form-check-inline" id="status" *ngIf="edit">
								<input class="form-check-input" type="radio" name="status" #is_active="ngModel" [(ngModel)]="userModel.is_active" id="inlineRadio1"
								 value="true">
								<label class="form-check-label" for="inlineRadio1">Active</label>
							</div>
							<div class="form-check form-check-inline" *ngIf="edit">
								<input class="form-check-input" type="radio" name="status" #is_active="ngModel" [(ngModel)]="userModel.is_active" id="inlineRadio2"
								 value="false">
								<label class="form-check-label" for="inlineRadio2">Inactive</label>
							</div>
						</div>
					</div>

					<div class="form-group" *ngIf="edit">
						<label for="first_name">Email: </label>
						<input type="text" id="email" #email="ngModel" class="form-control" name="email" [(ngModel)]="userModel.email" [class.is-invalid]="email.invalid && email.touched"
						 [class.is-valid]="email.valid && email.touched" required>
						<small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required</small>
					</div>

					<div class="form-group" *ngIf="edit">
						<label for="first_name">Designation: </label>
						<select #designation="ngModel" [(ngModel)]="userModel.designation" name="designation" class="form-control" id="designation"
						 [class.is-invalid]="designation.invalid && designation.touched">
							<option>Project Manager</option>
							<option>Developer (IOS)</option>
							<option>Developer (Android)</option>
							<option>Backend Developer</option>
							<option>Designer</option>
							<option>HR</option>
							<option>Bidder</option>
						</select>
						<small class="text-danger" [class.d-none]="designation.valid || designation.untouched">Designation is required</small>
					</div>
					<div class="form-group" *ngIf="edit">
						<label for="salary">Salary: </label>
						<input type="number" id="salary" name="salary" class="form-control" #salary="ngModel" [class.in-valid]="salary.invalid && salary.touched"
						 [class.is-valid]="salary.valid && salary.untouched" [(ngModel)]="userModel.salary" required>
						<small class="text-danger" [class.d-none]="salary.valid || salary.untouched">Salary is required</small>
					</div>
					<button nbButton outline status="primary" size="xsmall" *ngIf="edit" class="mr-2">Update</button>
					<button nbButton outline status="danger" size="xsmall" *ngIf="edit" class="mr-2" (click)="cancelUpdate()">Cancel</button>
				</form>
			</nb-card-body>
		</nb-card>
	</div>
	<div class="col-md-4 mr-auto ml-auto">
		<nb-card accent="danger">
			<nb-card-header class="text-center">
				Assigned Projects
			</nb-card-header>
			<nb-card-body>
				<nb-list *ngIf="projectModel[0].project_name != null; else project_else">
					<nb-list-item *ngFor="let project of projectModel">
						<nb-user [name]="project.project_name" [title]="project.project_description">
						</nb-user>
					</nb-list-item>
				</nb-list>
				<ng-template #project_else>
					<div class="col-md-12">
						<p class="mt-auto mb-auto">
							Currently there are no projects
						</p>
					</div>
				</ng-template>
			</nb-card-body>
		</nb-card>
	</div>
</div>