<div class="row" *ngIf="filtersLoaded | async">
	<div class="col-md-12">
		<nb-card accent="primary">
			<nb-card-header>
				<div class="row">
					<div class="col-md-6 text-left">
						List of Employees
					</div>
					<div class="col-md-3 text-right">
						<button class="btn btn-link text-primary p-0" routerLink="/add_employee">Add Employee</button>
					</div>
					<div class="col-md-3 text-right" *ngIf="userModel.length > 0">
						<button class="btn btn-link text-danger p-0" (click)="select()" *ngIf="!multiSelect; else multi_else">Delete Employees</button>
						<ng-template #multi_else>
							<button class="btn btn-link text-danger pb-0 pt-0 pl-0  pr-2" (click)="deleteSelectedItem()" *ngIf="multiSelect">Delete 
Selected</button>
							<button class="btn btn-link text-warning p-0" (click)="cancel()" *ngIf="multiSelect">Cancel</button>
						</ng-template>
					</div>
				</div>
			</nb-card-header>
			<nb-card-body>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th *ngIf="multiSelect">
									Select
								</th>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Email</th>
								<th>Designation</th>
								<th>Date Created</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody *ngIf="userModel.length > 0; else else_block" [@fade]="userModel.length">
							<tr *ngFor="let user of userModel">
								<td *ngIf="multiSelect">
									<input type="checkbox" [(ngModel)]="user.selected">
								</td>
								<td> {{ user.employee_first_name }} </td>
								<td> {{ user.employee_last_name }} </td>
								<td> {{ user.employee_email }} </td>
								<td> {{ user.employee_designation }} </td>
								<td> {{ user.employee_date_created | date:'mediumDate' }} </td>
								<td>
									<a class="btn btn-link text-primary p-0 m-0" routerLink="/employee_details/{{ user.employee_id }}">View</a>
								</td>
							</tr>
						</tbody>
						<ng-template #else_block>
							<tr>
								<td colspan="6" class="text-center">
									No Employee are there
								</td>
							</tr>
						</ng-template>
					</table>
				</div>
			</nb-card-body>
		</nb-card>
	</div>

	<!-- <div class="card mt-4 mb-4 ml-auto mr-auto" style="width: 18rem;" *ngFor="let employee of userModel">
		<img class="card-img-top ml-auto mr-auto mt-2" style="width: 200px; height: 200px;" *ngIf="employee.profile.image != ''; else else_block" src="/images/{{ employee.profile.image }}" alt="{{ employee.profile.first_name }}">
		<ng-template #else_block>
				<img class="card-img-top ml-auto mr-auto mt-2" style="width: 200px; height: 200px;" src="/images/no_user.png" alt="{{ employee.profile.first_name }}">
		</ng-template>
		<div class="card-body">
			<h5 class="card-title">{{ employee.profile.first_name }} {{ employee.profile.last_name }}</h5>
			<p class="card-text">{{ employee.designation }}</p>
			<p class="card-text">
				{{ employee.email }}
			</p>
			<p class="card-text">
				<small class="text-muted">{{ employee.date_created | date : 'medium'}}</small>
			</p>
		</div>
		<div class="card-footer text-center">
			<a class="btn btn-link text-success" routerLink="/employee_details/{{employee._id}}">
				View
			</a>
		</div>

	</div> -->
</div>
