<div class="row" *ngIf="filtersLoaded | async">
  <div class="col-md-12">
    <nb-card accent="success">
      <nb-card-header>
        Create Task
      </nb-card-header>
      <nb-card-body>
        <div class="alert alert-danger mt-3 alert-dismissible fade show" *ngIf="message" role="alert">
          {{message}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form #tasksForm="ngForm" class="form" (ngSubmit)="onFormSubmit()">
          <div class="form-group">
            <input type="text" class="form-control" name="tasks_name" placeholder="Tasks Name" #tasks_name="ngModel" [(ngModel)]="tasksModel.tasks_name"
              [class.is-invalid]="tasks_name.invalid && tasks_name.touched" [class.is-valid]="tasks_name.valid && tasks_name.touched"
              required>
            <small class="text-danger" [class.d-none]="tasks_name.valid || tasks_name.untouched">Tasks Name is required</small>
          </div>
          <div class="form-group">
            <textarea name="tasks_description" class="form-control" #tasks_description="ngModel" placeholder="Tasks Description" [(ngModel)]="tasksModel.tasks_description"
              [class.is-invalid]="tasks_description.invalid && tasks_description.touched" [class.is-valid]="tasks_description.valid && tasks_description.touched"
              required></textarea>
            <small class="text-danger" [class.d-none]="tasks_description.valid || tasks_description.untouched">Tasks Description is required</small>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group mt-3">
                <label for="">Selected Members</label>
                <div *ngIf="employees.length > 0; else none_block">
                  <div class="btn-group badge badge-info m-2" role="group" *ngFor="let employee of employees">
                    <span class="p-3">{{employee.profile.first_name}} {{employee.profile.last_name}}</span>
                    <button type="button" class="btn btn-link text-white" (click)="removeEmployee(employee)">&times;</button>
                  </div>
                </div>
                <ng-template #none_block>
                  <p>No Members Selected</p>
                </ng-template>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-12 mt-3">
                    <div class="row">
                      <!-- IOS DEVELOPER -->
                      <div class="col-md-3 dropdown mb-2">
                        <button class="dropdown-toggle p-2" type="button" id="dropdownMenuButtonIOS" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false">IOS Developer</button>
                        <div class="dropdown-menu">
                          <ng-container *ngFor="let employee of userModel">
                            <button type="button" *ngIf="employee.designation == 'Developer (IOS)'" class="dropdown-item m-2 text-dark" (click)="add_employee(employee)">
                              <nb-user [name]="employee.profile.first_name + ' ' + employee.profile.last_name">
                              </nb-user>
                            </button>
                          </ng-container>
                        </div>
                      </div>
                      <!-- ANDROID DEVELOPER -->
                      <div class="col-md-3 dropdown mb-2">
                        <button class="dropdown-toggle p-2" type="button" id="dropdownMenuButtonANDROID" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false">Android Developer</button>
                        <div class="dropdown-menu">
                          <ng-container *ngFor="let employee of userModel">
                            <button type="button" *ngIf="employee.designation == 'Developer (Android)'" class="dropdown-item m-2 text-dark" (click)="add_employee(employee)">
                              <nb-user [name]="employee.profile.first_name + ' ' + employee.profile.last_name">
                              </nb-user>
                            </button>
                          </ng-container>
                        </div>
                      </div>
                      <!-- BACKEND DEVELOPER -->
                      <div class="col-md-3 dropdown mb-2">
                        <button class="dropdown-toggle p-2" type="button" id="dropdownMenuButtonBACKEND" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false">Backend Developer</button>
                        <div class="dropdown-menu">
                          <ng-container *ngFor="let employee of userModel">
                            <button type="button" *ngIf="employee.designation == 'Backend Developer'" class="dropdown-item m-2 text-dark" (click)="add_employee(employee)">
                              <nb-user [name]="employee.profile.first_name + ' ' + employee.profile.last_name">
                              </nb-user>
                            </button>
                          </ng-container>
                        </div>
                      </div>
                      <!-- DESIGNER -->
                      <div class="col-md-3 dropdown mb-2">
                        <button class="dropdown-toggle p-2" type="button" id="dropdownMenuButtonDESIGNER" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false">Designer</button>
                        <div class="dropdown-menu">
                          <ng-container *ngFor="let employee of userModel">
                            <button type="button" *ngIf="employee.designation == 'Designer'" class="dropdown-item m-2 text-dark" (click)="add_employee(employee)">
                              <nb-user [name]="employee.profile.first_name + ' ' + employee.profile.last_name">
                              </nb-user>
                            </button>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <button type="submit" [disabled]="tasksForm.form.invalid" class="btn btn-outline-primary mr-1">Submit</button>
          <button type="button" class="btn btn-outline-secondary ml-1" (click)="cancelAdd()">Cancel</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>