<div class="row" *ngIf="filtersLoaded | async">


	<div class="col-md-12">
		<nb-card accent="warning">
			<nb-card-header>
				<div class="row">
					<div class="col-md-4">
						Daily Diary
					</div>
					<div class="col-md-4 text-center" *ngIf="tasksModel.length > 0">
						<small class="text-danger" *ngIf="tasksModel[0].evening_session == ''" >Completed {{ total_hours | number:'1.0-1' }} hours</small>
					</div>
					<div class="col-md-4 text-right">
						<button type="button" class="btn btn-link text-primary p-0" name="morning_session" [disabled]="toggleUpdate" data-toggle="modal"
						 data-target="#updateModel">Update Daily Tasks</button>
					</div>
				</div>
			</nb-card-header>
			<nb-card-body>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>Morning Update</th>
								<th>Evening Update</th>
								<th>In-Time</th>
								<th>Out-Time</th>
								<th>Total Hours</th>
								<th>Date</th>
							</tr>
						</thead>
						<tbody *ngIf="tasksModel.length > 0; else taskModel_else">
							<tr *ngFor="let task of tasksModel">
								<td *ngIf="task.morning_session != ''; else morning_session">
									{{ task.morning_session }}
								</td>
								<ng-template #morning_session>
									<td>
										<b>Morning Update: </b>Morning Update Pending
									</td>
								</ng-template>
								<td *ngIf="task.evening_session != ''; else evening_session">
									{{ task.evening_session }}
								</td>
								<ng-template #evening_session>
									<td>
										<button type="button" class="btn btn-link text-danger p-0" data-toggle="modal" data-target="#eveningupdateModel">Add </button>
									</td>

									<div class="modal fade" id="eveningupdateModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="exampleModalLabel">Update Daily Task</h5>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body">
													<form #tasksForm="ngForm" (ngSubmit)="onEveningUpdateFormSubmit(task.id)">
														<div class="form-group">
															<label>Task description</label>
															<textarea name="message" class="form-control" #message="ngModel" [(ngModel)]="updateModel.message" [class.is-invalid]="message.invalid && message.touched"
															[class.is-valid]="message.valid && message.touched" required></textarea>
															<small class="text-danger" [class.d-none]="message.valid || message.untouched">Message is required</small>
														</div>
														<div class="form-group">
															<select class="form-control" [(ngModel)]="updateModel.time" (ngModelChange)="onChange($event)" name="session" required>
																<option selected="">Select Session</option>
																<option value="Morning" disabled>Morning</option>
																<option value="Evening">Evening</option>
															</select>
														</div>
														<div class="form-group">
															<div class="col-md-12">
																<div class="row">
																	<div class="col-md-6" *ngIf="sessionTime == 'Morning'">
																		<label>In Time</label>
																		<input type="text" class="form-control" name="in_time" [(ngModel)]="updateModel.date_created" class="form-control" [value]="nowTime"
																		disabled>
																	</div>
																	<div class="col-md-6" *ngIf="sessionTime == 'Evening'">
																		<label>Out Time</label>
																		<input type="text" class="form-control" name="out_time" [(ngModel)]="updateModel.out_time" class="form-control" [value]="nowTime"
																		disabled>
																	</div>
																</div>
															</div>
														</div>
														<div class="modal-footer">
															<button type="submit" name="evening_session" [disabled]="toggleSave || tasksForm.form.invalid" class="btn btn-primary">Save</button>
															<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
									
								</ng-template>
								<td *ngIf="task.in_time != ''; else in_time">
									<span class="text-info">{{ task.in_time }}</span>
								</td>
								<ng-template #in_time>
									<td>-</td>
								</ng-template>
								<td *ngIf="task.out_time != ''; else out_time">
									<span class="text-danger">{{ task.out_time }}</span>
								</td>
								<ng-template #out_time>
									<td>-</td>
								</ng-template>
								<td *ngIf="task.total_hours != null; else total_hours">
									{{ task.total_hours | number:'1.0-1' }} hours
								</td>
								<ng-template #total_hours>
									<td>Yet to update</td>
								</ng-template>
								<td>{{ task.date_created | date : 'mediumDate' }}</td>
							</tr>
						</tbody>
						<ng-template #taskModel_else>
							<tbody>
								<td colspan="6">
									No daily Update
								</td>
							</tbody>
						</ng-template>
					</table>
				</div>
			</nb-card-body>
		</nb-card>
	</div>
</div>

<div class="modal fade" id="updateModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Update Daily Task</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form #tasksForm="ngForm" (ngSubmit)="onUpdateFormSubmit()">
					<div class="form-group">
						<label>Task description</label>
						<textarea name="message" class="form-control" #message="ngModel" [(ngModel)]="updateModel.message" [class.is-invalid]="message.invalid && message.touched"
						 [class.is-valid]="message.valid && message.touched" required></textarea>
						<small class="text-danger" [class.d-none]="message.valid || message.untouched">Message is required</small>
					</div>
					<div class="form-group">
						<select class="form-control" [(ngModel)]="updateModel.time" (ngModelChange)="onChange($event)" name="session" required>
							<option selected="">Select Session</option>
							<option value="Morning">Morning</option>
							<option value="Evening" disabled>Evening</option>
						</select>
					</div>
					<div class="form-group">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-6" *ngIf="sessionTime == 'Morning'">
									<label>In Time</label>
									<input type="text" class="form-control" name="in_time" [(ngModel)]="updateModel.in_time" class="form-control" [value]="nowTime"
									 disabled>
								</div>
								<div class="col-md-6" *ngIf="sessionTime == 'Evening'">
									<label>Out Time</label>
									<input type="text" class="form-control" name="out_time" [(ngModel)]="updateModel.out_time" class="form-control" [value]="nowTime"
									 disabled>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" [disabled]="toggleSave || tasksForm.form.invalid" class="btn btn-primary">Save</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>