<div class="row">
  <div class="col-md-12">
    <nb-card accent="info">
      <nb-card-header>
        List of holidays
      </nb-card-header>
      <nb-card-body>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Holidays</th>
                <th>Month</th>
                <th>Day</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let holiday of holidays">
                <td> {{ holiday.Holiday }} </td>
                <td> {{ holiday.Month }} </td>
                <td> {{ holiday.Day }} </td>
                <td> {{ holiday.Date | date:'mediumDate' }} </td>
              </tr>
            </tbody>
          </table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>