<div class="row">
	<div class="col-md-12">

		<form class="form">
			<div class="form-group">
				<div class="row">
					<div class="col-md-6">
						<input type="text" class="form-control" name="first_name" placeholder="First Name">
					</div>
					<div class="col-md-6">
						<input type="text" class="form-control" name="last_name" placeholder="Last Name">
					</div>
				</div>
			</div>
			<div class="form-group">
				<input type="email" class="form-control" placeholder="Email">
			</div>
			<div class="form-group">
				<input type="password" class="form-control" placeholder="Password">
			</div>
			<div class="form-group">
				<select class="form-control" id="exampleFormControlSelect1">
					<option>Project Manager</option>
					<option>Developer (IOS)</option>
					<option>Developer (Android)</option>
					<option>Backend Developer</option>
				</select>
			</div>
			<button type="submit" class="btn btn-outline-secondary">Add Employee</button>
		</form>

	</div>
</div>