<div class="row" *ngIf="filtersLoaded | async">
	<div class="col-md-6 ml-auto mr-auto">
		<nb-card accent="primary">
			<nb-card-header>
				<div class="row">
					<div class="col-md-6">
						<a class="nav-link mr-auto ml-auto" routerLink="/dailyUpdate/{{projectModel._id}}">Dialy Updates</a>
					</div>
					<div class="col-md-6">
						<a class="nav-link mr-auto ml-auto" routerLink="/myProjectTask/{{projectModel._id}}">My Tasks</a>
					</div>
				</div>
			</nb-card-header>
			<nb-card-body>
				<p class="card-title">
					Name: {{projectModel.project_details.name}}
				</p>
				<p class="card-text">
					Description: {{ projectModel.project_details.description }}
				</p>
				<p class="card-text">
					Status:
					<span class="badge badge-info p-2">{{ projectModel.status }}</span>
				</p>
			</nb-card-body>
		</nb-card>
	</div>
	<div class="col-md-6 ml-auto mr-auto">
		<nb-card accent="info">
			<nb-card-header>
				Project Members
			</nb-card-header>
			<nb-card-body>
				<h6>Employees</h6>
				<nb-list *ngIf="projectModel.employee_id.length > 1; else employee_else">
					<nb-list-item *ngFor="let employee of projectModel.employee_id" class="text-left">
						<nb-user [name]="employee.id.profile.first_name + ' ' + employee.id.profile.last_name" [title]="employee.id.designation">
						</nb-user>
					</nb-list-item>
				</nb-list>
				<ng-template #employee_else>
					<div class="col-md-12">
						<p class="mt-auto mb-auto">
							Currently there are no employees working on this project.
						</p>
					</div>
				</ng-template>
			</nb-card-body>
			<nb-card-body>
				<h6>Project Manager</h6>
				<nb-list *ngIf="projectModel.project_manager; else manager_else">
					<nb-list-item class="text-left">
						<nb-user [name]="projectModel.project_manager.profile.first_name + ' ' + projectModel.project_manager.profile.last_name"
						 [title]="projectModel.project_manager.designation">
						</nb-user>
					</nb-list-item>
				</nb-list>
				<ng-template #manager_else>
					<div class="col-md-12">
						<small class="mt-1 text-muted">
							Currently there is no manager working on this project.
						</small>
					</div>
				</ng-template>
			</nb-card-body>
			<nb-card-body>
				<h6>Responsible Person</h6>
				<nb-list *ngIf="projectModel.responsible_person; else responsible_else">
					<nb-list-item class="text-left">
						<nb-user [name]="projectModel.responsible_person.profile.first_name + ' ' + projectModel.responsible_person.profile.last_name"
						 [title]="projectModel.responsible_person.designation">
						</nb-user>
					</nb-list-item>
				</nb-list>
				<ng-template #responsible_else>
					<div class="col-md-12">
						<p class="mt-auto mb-auto">
							Currently there is no responsible person for this project.
						</p>
					</div>
				</ng-template>
			</nb-card-body>
		</nb-card>
	</div>
</div>