<div class="row" *ngIf="filtersLoaded | async">
	<div class="col-md-6 ml-auto mr-auto">
		<nb-card accent="primary">
			<nb-card-header>
				<div class="row">
					<div class="col-md-6 text-center">
						<a nbButton outline status="primary" size="xsmall" routerLink="/dailyUpdate/{{projectModel[0].project_id}}">Dialy Updates</a>
					</div>
					<div class="col-md-6 text-center">
						<a nbButton outline status="danger" size="xsmall" routerLink="/myProjectTask/{{projectModel[0].project_id}}">My Tasks</a>
					</div>
				</div>
			</nb-card-header>
			<nb-card-body>
				<p class="card-title">
					Name: {{projectModel[0].project_name}}
				</p>
				<p class="card-text">
					Description: {{ projectModel[0].project_description }}
				</p>
				<p class="card-text">
					Status:
					<span class="badge badge-info p-2">{{ projectModel[0].status }}</span>
				</p>
			</nb-card-body>
		</nb-card>
	</div>
	<div class="col-md-6 ml-auto mr-auto">
		<nb-card accent="info">
			<nb-card-header>
				Project Members
			</nb-card-header>
			<nb-card-body>
				<h6>Employees</h6>
				<nb-list *ngIf="projectModel.length > 0; else employee_else">
					<nb-list-item *ngFor="let employee of projectModel" class="text-left">
						<nb-user [name]="employee.employee_first_name + ' ' + employee.employee_last_name" [title]="employee.employee_designation">
						</nb-user>
					</nb-list-item>
				</nb-list>
				<ng-template #employee_else>
					<div class="col-md-12">
						<p class="mt-auto mb-auto">
							Currently there are no other employees working on this project.
						</p>
					</div>
				</ng-template>
			</nb-card-body>
			<nb-card-body>
				<h6>Project Manager</h6>
				<nb-list *ngIf="projectModel[0].project_manager_first_name != ''; else manager_else">
					<nb-list-item class="text-left">
						<nb-user [name]="projectModel[0].project_manager_first_name + ' ' + projectModel[0].project_manager_last_name"
						 [title]="projectModel[0].project_manager_designation">
						</nb-user>
					</nb-list-item>
				</nb-list>
				<ng-template #manager_else>
					<div class="col-md-12">
						<small class="mt-1 text-muted">
							Currently there is no manager working on this project.
						</small>
					</div>
				</ng-template>
			</nb-card-body>
			<nb-card-body>
				<h6>Responsible Person</h6>
				<nb-list *ngIf="projectModel[0].responsible_person_first_name != ''; else responsible_else">
					<nb-list-item class="text-left">
						<nb-user [name]="projectModel[0].responsible_person_first_name + ' ' + projectModel[0].responsible_person_last_name"
						 [title]="projectModel[0].responsible_person_designation">
						</nb-user>
					</nb-list-item>
				</nb-list>
				<ng-template #responsible_else>
					<div class="col-md-12">
						<p class="mt-auto mb-auto">
							Currently there is no responsible person for this project.
						</p>
					</div>
				</ng-template>
			</nb-card-body>
		</nb-card>
	</div>
</div>