<div class="row">
	<div class="col-md-12">
		<nb-card accent="danger">
			<nb-card-header>
				Create Project
			</nb-card-header>
			<nb-card-body>
				<div class="alert alert-danger alert-dismissible fade show" *ngIf="message" role="alert">
					{{message}}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form #projectForm="ngForm" class="form" (ngSubmit)="onFormSubmit()" class="mt-3 mb-3">
					<div class="form-group">
						<input type="text" class="form-control" name="project_name" placeholder="Project Name" #project_name="ngModel" [(ngModel)]="projectModel.project_name"
						 [class.is-invalid]="project_name.invalid && project_name.touched" [class.is-valid]="project_name.valid && project_name.touched"
						 required>
						<small class="text-danger" [class.d-none]="project_name.valid || project_name.untouched">Project Name is required</small>
					</div>
					<div class="form-group">
						<textarea name="project_description" class="form-control" #project_description="ngModel" placeholder="Project Description"
						 [(ngModel)]="projectModel.project_description" [class.is-invalid]="project_description.invalid && project_description.touched"
						 [class.is-valid]="project_description.valid && project_description.touched" required></textarea>
						<small class="text-danger" [class.d-none]="project_description.valid || project_description.untouched">Project Description is required</small>
					</div>
					<!-- <div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="status" #status="ngModel" [(ngModel)]="projectModel.status" id="inlineRadio1"
						 value="In Progress">
						<label class="form-check-label" for="inlineRadio1">In Progress</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="status" #status="ngModel" [(ngModel)]="projectModel.status" id="inlineRadio2"
						 value="On Hold">
						<label class="form-check-label" for="inlineRadio2">On Hold</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="status" #status="ngModel" [(ngModel)]="projectModel.status" id="inlineRadio3"
						 value="Completed">
						<label class="form-check-label" for="inlineRadio3">Completed</label>
					</div> -->
					<div class="form-group mt-3">
						<label for="">Selected Members</label>
						<div *ngIf="employees.length > 0; else none_block">
							<div class="btn-group badge badge-info m-2" role="group" *ngFor="let employee of employees">
								<span class="p-3">{{employee.profile.first_name}} {{employee.profile.last_name}}</span>
								<button type="button" class="btn btn-link text-white" (click)="remove(employee)">&times;</button>
							</div>
						</div>
						<ng-template #none_block>
							<p>No Members Selected</p>
						</ng-template>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-md-12 mt-3">
								<div class="row">
									<!-- IOS DEVELOPER -->
									<div class="col-md-3 dropdown mb-2">
										<button class="dropdown-toggle p-2" type="button" id="dropdownMenuButtonIOS" data-toggle="dropdown" aria-haspopup="true"
										 aria-expanded="false">IOS Developer</button>
										<div class="dropdown-menu">
											<ng-container *ngFor="let employee of userModel">
												<button type="button" *ngIf="employee.designation == 'Developer (IOS)'" class="dropdown-item m-2 text-dark" (click)="add_employee(employee)">
													<nb-user [name]="employee.profile.first_name + ' ' + employee.profile.last_name">
													</nb-user>
												</button>
											</ng-container>
										</div>
									</div>
									<!-- ANDROID DEVELOPER -->
									<div class="col-md-3 dropdown mb-2">
										<button class="dropdown-toggle p-2" type="button" id="dropdownMenuButtonANDROID" data-toggle="dropdown" aria-haspopup="true"
										 aria-expanded="false">Android Developer</button>
										<div class="dropdown-menu">
											<ng-container *ngFor="let employee of userModel">
												<button type="button" *ngIf="employee.designation == 'Developer (Android)'" class="dropdown-item m-2 text-dark" (click)="add_employee(employee)">
													<nb-user [name]="employee.profile.first_name + ' ' + employee.profile.last_name">
													</nb-user>
												</button>
											</ng-container>
										</div>
									</div>
									<!-- BACKEND DEVELOPER -->
									<div class="col-md-3 dropdown mb-2">
										<button class="dropdown-toggle p-2" type="button" id="dropdownMenuButtonBACKEND" data-toggle="dropdown" aria-haspopup="true"
										 aria-expanded="false">Backend Developer</button>
										<div class="dropdown-menu">
											<ng-container *ngFor="let employee of userModel">
												<button type="button" *ngIf="employee.designation == 'Backend Developer'" class="dropdown-item m-2 text-dark" (click)="add_employee(employee)">
													<nb-user [name]="employee.profile.first_name + ' ' + employee.profile.last_name">
													</nb-user>
												</button>
											</ng-container>
										</div>
									</div>
									<!-- DESIGNER -->
									<div class="col-md-3 dropdown mb-2">
										<button class="dropdown-toggle p-2" type="button" id="dropdownMenuButtonDESIGNER" data-toggle="dropdown" aria-haspopup="true"
										 aria-expanded="false">Designer</button>
										<div class="dropdown-menu">
											<ng-container *ngFor="let employee of userModel">
												<button type="button" *ngIf="employee.designation == 'Designer'" class="dropdown-item m-2 text-dark" (click)="add_employee(employee)">
													<nb-user [name]="employee.profile.first_name + ' ' + employee.profile.last_name">
													</nb-user>
												</button>
											</ng-container>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12 mt-3">
								<label>Project Manager</label>
								<select class="form-control" name="project_manager" #project_manager="ngModel" [(ngModel)]="projectModel.project_manager">
									<option *ngFor="let employee of userModel" value="{{employee._id}}">
										{{ employee.profile.first_name }} {{ employee.profile.last_name }}
									</option>
								</select>
							</div>
							<div class="col-md-12 mt-3">
								<label>Responsible Person</label>
								<select class="form-control" name="responsible_person" #responsible_person="ngModel" [(ngModel)]="projectModel.responsible_person">
									<option *ngFor="let employee of userModel" value="{{employee._id}}">
										{{ employee.profile.first_name }} {{ employee.profile.last_name }}
									</option>
								</select>
							</div>
						</div>
					</div>


					<button type="submit" [disabled]="projectForm.form.invalid" class="btn btn-outline-primary mr-1">Submit</button>
					<button type="button" class="btn btn-outline-secondary ml-1" (click)="cancelAdd()">Cancel</button>
				</form>
			</nb-card-body>
		</nb-card>
	</div>
</div>