<div class="row">
	<div class="col-md-6 offset-md-3 text-center">
		<img src="" alt="Empoyee Image" class="rounded img-thumbnail">
		<h3>
			Name: Project Name
		</h3>
		<h3>
			Description: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde labore, earum, sit repudiandae sint aliquid in
			voluptatum praesentium id inventore facilis. Nulla, officia fugiat nisi totam sapiente modi neque cum!
		</h3>
		<h3>
			Dsignation: Employee Designation
		</h3>
		<div class="row">
			<div class="col-md-12">
				<button type="button" class="btn btn-outline-primary">Update</button>
				<button type="button" class="btn btn-outline-danger">View Tasks</button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<label for="exampleFormControlSelect2">Working People</label>
				<select multiple class="form-control" id="exampleFormControlSelect2">
					<option>Android</option>
					<option>Ios</option>
					<option>Project Manager</option>
				</select>
			</div>
		</div>
	</div>
</div>