<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-6 text-left">
				<button type="button" class="btn btn-link text-primary mt-2 mb-2" (click)="goBack()">
					&laquo; Go back
				</button>
			</div>
			<div class="col-md-6 text-right">
				<button class="btn btn-link mt-2 mb-2" routerLink="/add_employee">Add Employee</button>
			</div>
		</div>
	</div>

	<div class="card mt-4 mb-4 ml-auto mr-auto" style="width: 18rem;" *ngFor="let employee of userModel">
		<img class="card-img-top ml-auto mr-auto mt-2" style="width: 200px; height: 200px;" *ngIf="employee.profile.image != ''; else else_block" src="/images/{{ employee.profile.image }}" alt="{{ employee.profile.first_name }}">
		<ng-template #else_block>
				<img class="card-img-top ml-auto mr-auto mt-2" style="width: 200px; height: 200px;" src="/images/no_user.png" alt="{{ employee.profile.first_name }}">
		</ng-template>
		<div class="card-body">
			<h5 class="card-title">{{ employee.profile.first_name }} {{ employee.profile.last_name }}</h5>
			<p class="card-text">{{ employee.designation }}</p>
			<p class="card-text">
				{{ employee.email }}
			</p>
			<p class="card-text">
				<small class="text-muted">{{ employee.date_created | date : 'medium'}}</small>
			</p>
		</div>
		<div class="card-footer text-center">
			<a class="btn btn-link text-success" routerLink="/employee_details/{{employee._id}}">
				View
			</a>
		</div>

	</div>
</div>