.container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    box-shadow: none;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    border-left: none;
    border-right: none;
}
