<div class="row">
	<div class="col-md-12">

		<form #projectForm="ngForm" class="form" (ngSubmit)="onFormSubmit()" class="mt-3 mb-3">
			<div class="form-group">
				<input type="text" class="form-control" name="project_name" placeholder="Project Name" #project_name="ngModel" [(ngModel)]="projectModel.project_name"
				 [class.is-invalid]="project_name.invalid && project_name.touched" [class.is-valid]="project_name.valid && project_name.touched"
				 required>
				<small class="text-danger" [class.d-none]="project_name.valid || project_name.untouched">Project Name is required</small>
			</div>
			<div class="form-group">
				<textarea name="project_description" class="form-control" #project_description="ngModel" placeholder="Project Description"
				 [(ngModel)]="projectModel.project_description" [class.is-invalid]="project_description.invalid && project_description.touched"
				 [class.is-valid]="project_description.valid && project_description.touched" required></textarea>
				<small class="text-danger" [class.d-none]="project_description.valid || project_description.untouched">Project Description is required</small>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="radio" name="status" #status="ngModel" [(ngModel)]="projectModel.status" id="inlineRadio1"
				 value="In Progress">
				<label class="form-check-label" for="inlineRadio1">In Progress</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="radio" name="status" #status="ngModel" [(ngModel)]="projectModel.status" id="inlineRadio2"
				 value="On Hold">
				<label class="form-check-label" for="inlineRadio2">On Hold</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="radio" name="status" #status="ngModel" [(ngModel)]="projectModel.status" id="inlineRadio3"
				 value="Completed">
				<label class="form-check-label" for="inlineRadio3">Completed</label>
			</div>
			<div class="form-group">
				<label for="">Selected Members</label>
				<div *ngIf="employees.length > 0; else none_block">
					<div class="btn-group badge badge-info m-2" role="group" *ngFor="let employee of employees">
						<span class="p-3">{{employee.profile.first_name}} {{employee.profile.last_name}}</span>
						<button type="button" class="btn btn-link text-white" (click)="remove(employee)">&times;</button>
					</div>
				</div>
				<ng-template #none_block>
					<p>No Members Selected</p>
				</ng-template>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-md-4">
						<div class="row" *ngFor="let employee of userModel">
							<div class="col-md-12 mb-2" *ngIf="employee.designation == 'Developer (IOS)'">
								<label>IOS Developer</label>
								<button type="button" class="btn btn-outline-info m-2" (click)="add_employee(employee)">{{ employee.profile.first_name }} {{ employee.profile.last_name }}</button>
							</div>
							<div class="col-md-12 mb-2" *ngIf="employee.designation == 'Developer (Android)'">
								<label>Android Developer</label>
								<button type="button" class="btn btn-outline-info m-2" (click)="add_employee(employee)">{{ employee.profile.first_name }} {{ employee.profile.last_name }}</button>
							</div>
							<div class="col-md-12 mb-2" *ngIf="employee.designation == 'Backend Developer'">
								<label>Backend Developer</label>
								<button type="button" class="btn btn-outline-info m-2" (click)="add_employee(employee)">{{ employee.profile.first_name }} {{ employee.profile.last_name }}</button>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<label>Project Manager</label>
						<select class="form-control" name="project_manager" #project_manager="ngModel" [(ngModel)]="projectModel.project_manager">
							<ng-container *ngFor="let employee of userModel">
								<option *ngIf="employee.designation == 'Project Manager'" value="{{employee._id}}">
									{{ employee.profile.first_name }} {{ employee.profile.last_name }}
								</option>
							</ng-container>
						</select>
					</div>
					<div class="col-md-4">
						<label>Responsible Person</label>
						<select class="form-control" name="responsible_person" #responsible_person="ngModel" [(ngModel)]="projectModel.responsible_person">
							<option *ngFor="let employee of userModel" value="{{employee._id}}">
								{{ employee.profile.first_name }} {{ employee.profile.last_name }}
							</option>
						</select>
					</div>
				</div>
			</div>


			<button type="submit" [disabled]="projectForm.form.invalid" class="btn btn-outline-primary mr-1">Submit</button>
			<button type="button" class="btn btn-outline-secondary ml-1" (click)="cancelAdd()">Cancel</button>
		</form>

	</div>
</div>