<div class="row" *ngIf="filtersLoaded | async">
	<div class="col-lg-6 ml-auto mr-auto text-center">
		<nb-card accent="info">
			<nb-card-header>
				<img class="rounded mr-auto ml-auto mt-2 card-img-top" style="width: 200px; height: 200px;" *ngIf="userModel.profile.image != ''; else else_image"
				 src="/images/{{userModel.profile.image}}" alt="{{ userModel.profile.first_name }}">

				<ng-template #else_image>
					<img class="rounded ml-auto mr-auto mt-2 card-img-top" style="width: 200px; height: 200px;" src="/images/no_user.png" alt="{{ userModel.profile.first_name }}">
				</ng-template>
			</nb-card-header>
			<nb-card-body>
				<nb-list>
					<nb-list-item>
						Name: {{ userModel.profile.first_name + ' ' + userModel.profile.last_name }} 
					</nb-list-item>
					<nb-list-item>
						Designation: {{ userModel.designation }}
					</nb-list-item>
					<nb-list-item>
						Email: {{userModel.email}}
					</nb-list-item>
					<nb-list-item>
						Salary: {{ userModel.salary | currency:'INR' }}
					</nb-list-item>
					<nb-list-item>
						Status:
						<span class="badge badge-info p-2" *ngIf="userModel.is_active; else else_block">Active</span>
						<ng-template #else_block>
							<span class="badge badge-info p-2">Inactive</span>
						</ng-template>
					</nb-list-item>
				</nb-list>
			</nb-card-body>
		</nb-card>
	</div>
</div>