<div class="row" *ngIf="filtersLoaded | async">
	<div class="col-md-5 card mt-4 text-center">

		<img class="rounded mr-auto ml-auto mt-2 card-img-top" style="width: 200px; height: 200px;" *ngIf="userModel.profile.image != ''; else else_image"
		 src="/images/{{userModel.profile.image}}" alt="{{ userMOdel.profile.first_name }}">

		<ng-template #else_image>
			<img class="rounded ml-auto mr-auto mt-2 card-img-top" style="width: 200px; height: 200px;" src="/images/no_user.png" alt="{{ userModel.profile.first_name }}">
		</ng-template>

		<div class="card-body">
			<h5 class="card-title" *ngIf="!edit">
				Name: {{userModel.profile.first_name}} {{ userModel.profile.last_name }}
			</h5>
			<h5 class="card-text" *ngIf="!edit">
				Email: {{ userModel.email }}
			</h5>
			<h5 class="card-text" *ngIf="!edit">
				Dsignation: {{ userModel.designation }}
			</h5>
			<div *ngIf="!edit">
				<h5 class="card-text" *ngIf="userModel.is_active; else else_block">
					Status:
					<span class="badge badge-info p-2">Active</span>
				</h5>
				<ng-template #else_block>
					<h5 class="card-text">
						Status:
						<span class="badge badge-info p-2">Inactive</span>
					</h5>
				</ng-template>
			</div>
		</div>
	</div>
	<div class="col-md-4 mr-auto mt-4 ml-auto">
		<ul class="nav flex-column">
			<li class="nav-item">
				<a class="nav-link active" routerLink="/myProjects">My Projects</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/myTasks">My Tasks</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/query">Query</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/dailyDiary">Daily Update</a>
			</li>
		</ul>
	</div>
</div>