<div class="row" *ngIf="filtersLoaded | async">

	<div class="col-md-12">
		<nb-card>
			<nb-card-header>
				<div class="row">
					<div class="col-md-6">
						List of Queries/Requests
					</div>
					<div class="col-md-6 text-right">
						<button type="button" class="btn btn-link text-primary p-0" data-toggle="modal" data-target="#updateModal">Ask Query</button>
					</div>
				</div>
			</nb-card-header>
			<nb-card-body>
				<div class="table-responsice">
					<table class="table">
						<thead>
							<tr>
								<th>To</th>
								<th>Designation</th>
								<th>Message</th>
								<th>Status</th>
								<th>Reply</th>
								<th>Action</th>
								<th>Date Created</th>
							</tr>
						</thead>
						<tbody *ngIf="queryModel.length > 0; else queryModel_else">
							<tr *ngFor="let query of queryModel">
								<td>{{ query.management_id.profile.first_name }} {{ query.management_id.profile.last_name }}</td>
								<td>{{ query.management_id.designation }}</td>
								<td>{{ query.message }}</td>
								<td>{{ query.status }}</td>
								<td *ngIf="query.reply; else query_else">{{ query.reply }}</td>
								<ng-template #query_else>
									<td>-</td>
								</ng-template>
								<td>
									<button type="button" [class]="query.status == 'closed' ? 'text-success btn btn-link p-0' : 'text-danger btn btn-link p-0'"
									 [disabled]="query.status == 'closed'" (click)="closeTicket(query._id)">
										Mark as closed
									</button>
								</td>
								<td>{{ query.date_created | date : 'mediumDate' }}</td>
							</tr>
						</tbody>
						<ng-template #queryModel_else>
							<tbody>
								<tr>
									<td colspan="7">
										<h3>
											No queries asked
										</h3>
									</td>
								</tr>
							</tbody>
						</ng-template>
					</table>
				</div>
			</nb-card-body>
		</nb-card>
	</div>
</div>

<div *ngIf="(employeeLoaded && profileLoaded) | async" class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
 aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Ask Query</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form #queryForm="ngForm" (ngSubmit)="onUpdateFormSubmit()">
					<div class="form-group" *ngIf="employeeModel != 0; else employeeModel_else">
						<label>Select</label>
						<select class="form-control" #management_id="ngModel" [(ngModel)]="updateModel.management_id" name="management_id" id="exampleFormControlSelect1">
							<ng-container *ngFor="let employee of employeeModel">
								<option *ngIf="userModel._id != employee._id" value="{{ employee._id }}">
									{{ employee.profile.first_name }} {{ employee.profile.last_name }} ({{ employee.designation }})
								</option>
							</ng-container>

						</select>
					</div>
					<ng-template #employeeModel_else>
						<p>
							There is no employee
						</p>
					</ng-template>
					<div class="form-group">
						<label>Query Message</label>
						<textarea name="message" class="form-control" #message="ngModel" [(ngModel)]="updateModel.message" [class.is-invalid]="message.invalid && message.touched"
						 [class.is-valid]="message.valid && message.touched" required></textarea>
						<small class="text-danger" [class.d-none]="message.valid || message.untouched">Message is required</small>
					</div>
					<div class="modal-footer">
						<button type="submit" [disabled]="queryForm.form.invalid" class="btn btn-primary">Send</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>