<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="row">
      <div class="col-md-6 text-left">
        <button type="button" class="btn btn-link text-primary" (click)="goBack()">
          &laquo; Go back
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="filtersLoaded | async">
  <div class="col-md-4 card mt-4 ml-auto mr-auto" *ngFor="let query of queryModel">
    <div class="card-body" *ngIf="queryModel.length > 0; else queryModel_else">
      <h5>
        To: {{ query.management_id.profile.first_name }} {{ query.management_id.profile.last_name }} ({{ query.management_id.designation
        }})
      </h5>
      <p>
        Message: {{ query.message }}
      </p>
      <p>
        Status: {{ query.status }}
      </p>
      <p *ngIf="query.reply">
        Reply: {{ query.reply }}
      </p>
      <div class="row">
        <div class="col-md-6">
          <button type="button" class="btn btn-link" *ngIf="query.status != 'closed'" (click)="closeTicket(query._id)">
            Mark as closed
          </button>
        </div>
        <div class="col-md-6">
          <button type="button" class="btn btn-link" [disabled]="query.reply != ''" data-toggle="modal" attr.data-target="#replyModal{{query._id}}">
            Reply
          </button>
        </div>
      </div>
      <div class="modal fade" id="replyModal{{query._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="onFormSubmit(query._id)" class="mb-3">
                    <div class="form-group">
                      <label>Reply</label>
                      <textarea #reply="ngModel" class="form-control" name="reply" [(ngModel)]="updateModel.reply" [class.is-invalid]="reply.invalid && reply.touched"
                        [class.is-valid]="reply.valid && reply.touched" placeholder="Enter tour text here..." required></textarea>
                      <small class="text-danger" [class.d-none]="reply.valid || reply.untouched">Reply is required</small>
                    </div>
                    <button type="submit" class="btn btn-outline-primary mr-2">Send</button>
                  </form>
            </div>
          </div>
        </div>
      </div>


    </div>
    <div class="card-footer p-0">
      <p class="text-muted text-right mt-auto mb-auto">{{ query.date_created | date : 'medium' }}</p>
    </div>
    <ng-template #queryModel_else>
      No queries asked
    </ng-template>
  </div>
</div>