<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="row">
      <div class="col-md-6 text-left">
        <button type="button" class="btn btn-link text-primary" (click)="goBack()">
          &laquo; Go back
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="filtersLoaded | async">
  <div class="col-md-4 card mt-4 ml-auto mr-auto" *ngFor="let query of queryModel">
    <div class="card-body" *ngIf="queryModel.length > 0; else queryModel_else">
      <p>
        <b>To:</b> {{ query.management_id.profile.first_name }} {{ query.management_id.profile.last_name }} ({{ query.management_id.designation
        }})
      </p>
      <p>
        <b>From:</b> {{ query.employee_id.profile.first_name }} {{ query.employee_id.profile.last_name }} ({{ query.employee_id.designation
        }})
      </p>
      <p>
        <b>Message:</b> {{ query.message }}
      </p>
      <small class="text-muted float-right">{{ query.date_created | date : 'medium' }}</small>
    </div>
    <ng-template #queryModel_else>
      No queries asked
    </ng-template>
  </div>
</div>