<div class="row" *ngIf="filtersLoaded | async">
	<div class="col-md-12">
		<ng-container *ngIf="tasksModel.length > 0; else no_tasks">
			<div class="row">
				<div class="col-md-4" *ngFor="let myTasks of tasksModel">
					<nb-card class="text-left">
						<nb-card-header>
							<span>{{ myTasks.project_description }}</span>
						</nb-card-header>
						<nb-card-body>
							<nb-list>
								<nb-list-item>
									<nb-card [accent]="myTasks.status == 'completed' ? 'success' : myTasks.status == 'expired' ? 'danger' : 'info'">
										<nb-card-header>
											<nb-user [name]="myTasks.task_name" [title]="myTasks.task_description.length > 40 ? myTasks.task_description.slice(0, 40) + '...' : myTasks.task_description">
											</nb-user>
										</nb-card-header>
										<nb-card-body>
											<nb-list>
												<nb-list-item>
													Status: <span [class]="myTasks.status == 'completed' ? 'text-success' : myTasks.status == 'expired' ? 'text-danger' : 'text-info'">{{ myTasks.status }}</span>
												</nb-list-item>
												<nb-list-item>
													<a class="btn btn-link" [class]="myTasks.status == 'completed' ? 'text-success' : myTasks.status == 'expired' ? 'text-danger' : 'text-info'" routerLink="/myTaskDetails/{{myTasks.id}}">
														View
													</a>
												</nb-list-item>
											</nb-list>
										</nb-card-body>
									</nb-card>
								</nb-list-item>
							</nb-list>
						</nb-card-body>
					</nb-card>
				</div>
			</div>
		</ng-container>
	</div>
	<ng-template #no_tasks>
		<div class="col-md-6 offset-md-3 text-center">
			<h3>
				No Task
			</h3>
		</div>
	</ng-template>
</div>