<div class="row" *ngIf="filtersLoaded | async">

	<div class="col-md-4 ml-auto mr-auto text-center">
		<nb-card accent="info" *ngIf="tasksModel.length > 0; else else_block">
			<nb-card-body>
				<p class="card-title">
					<b>Name:</b> {{tasksModel[0].task_name}}
				</p>
				<p class="card-text">
					<b>Description:</b> {{ tasksModel[0].task_description }}
				</p>
				<h6>
					Status: {{ tasksModel[0].status }}
				</h6>
			</nb-card-body>
			<nb-card-body>
				<div class="row">
					<div class="col-md-6">
						<button nbButton outline status="primary" class="mr-2" size="xsmall" *ngIf="!edit" (click)="toggleEdit()">Edit</button>
					</div>
					<div class="col-md-6">
						<button size="xsmall" *ngIf="!edit" class="mr-2" nbButton outline status="danger" (click)="deleteTask()" class="btn btn-outline-danger ml-auto mr-auto">Delete</button>
					</div>
				</div>
			</nb-card-body>
		</nb-card>
		<ng-template #else_block>
			<nb-card>
				<nb-card-body>
					Task does not exists.
				</nb-card-body>
			</nb-card>
		</ng-template>
	</div>

	<div class="col-md-4 ml-auto mr-auto text-center" *ngIf="edit">
		<nb-card accent="warning">
			<nb-card-header>
				Edit Task
			</nb-card-header>
			<nb-card-body>
				<form (ngSubmit)="onFormSubmit()" class="mb-3">
					<div class="form-group" *ngIf="edit">
						<label for="name">Name: </label>
						<input type="text" id="name" #name="ngModel" class="form-control" name="name" [(ngModel)]="tasksModel[0].task_name"
						 [class.is-invalid]="name.invalid && name.touched" [class.is-valid]="name.valid && name.touched" required>
						<small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>

					</div>

					<div class="form-group" *ngIf="edit">
						<label for="first_name">Description: </label>
						<input type="text" id="description" #description="ngModel" class="form-control" name="description" [(ngModel)]="tasksModel[0].task_description"
						 [class.is-invalid]="description.invalid && description.touched" [class.is-valid]="description.valid && description.touched"
						 required>
						<small class="text-danger" [class.d-none]="description.valid || description.untouched">Description is required</small>
					</div>

					<button nbButton outline status="primary" size="xsmall" *ngIf="edit" class="mr-2">Update</button>
					<button nbButton outline status="danger" size="xsmall" *ngIf="edit" class="mr-2" (click)="cancelUpdate()">Cancel</button>
				</form>
			</nb-card-body>
		</nb-card>
	</div>

	<div class="col-md-4 ml-auto mr-auto text-center">
		<nb-card accent="danger">
			<nb-card-header>
				Projects
			</nb-card-header>
			<nb-card-body>
				<nb-list *ngIf="tasksModel[0].project_name != null; else project_else">
					<nb-list-item *ngFor="let projects of tasksModel" class="text-left">
						<nb-user [name]="projects.project_name" [title]="projects.project_description">
						</nb-user>
					</nb-list-item>
				</nb-list>
			</nb-card-body>
		</nb-card>
		<ng-template #project_else>
			<nb-list>
				<nb-list-item>
					There is no project associated with this task.
				</nb-list-item>
			</nb-list>
		</ng-template>
			<nb-card accent="success" *ngIf="tasksModel.length > 0">
				<nb-card-header>
					Employees
				</nb-card-header>
				<nb-card-body *ngIf="tasksModel[0].employee_first_name != null; else employee_else">
					<nb-list>
						<nb-list-item *ngFor="let employee of tasksModel" class="text-left">
							<nb-user [name]="employee.employee_first_name + ' ' + employee.employee_last_name " [title]="employee.employee_designation">
							</nb-user>
						</nb-list-item>
					</nb-list>
				</nb-card-body>
				<ng-template #employee_else>
					<p class="p-4">No employee working on this projects</p>
				</ng-template>
			</nb-card>
	</div>
</div>