<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-6 text-left">
				<button type="button" class="btn btn-link text-primary mt-2 mb-2" (click)="goBack()">
					&laquo; Go back
				</button>
			</div>
		</div>
	</div>
	<div class="row" *ngIf="filtersLoaded | async">
		<div class="col-md-12" *ngIf="tasksModel.length > 0; else block_task">
			<div class="row">
				<div *ngFor="let tasks of tasksModel" class="card mt-4 text-center">
					<div class="card-body">
						<p class="card-title">
							<b>Name:</b> {{tasks.tasks_details.name}}
						</p>
						<p class="card-text">
							<b>Description:</b> {{ tasks.tasks_details.description }}
						</p>
						<h6>
							Status: {{ tasks.status }}
						</h6>
					</div>
					<button type="button" [disabled]="tasks.status == 'completed'" class="btn btn0link text-primary mt-4 mb-4" (click)="toggleStatus(tasks._id)">Mark as Complete</button>
					<button type="button" class="btn btn-link text-primary mt-4 mb-4" (click)="goBack()">
						&laquo; Go back
					</button>
				</div>
			</div>
		</div>
	</div>
	<ng-template #block_task>
		<div class="col-md-6 offset-md-3 text-center">
			<h3>
				No Individual Task Assigned
			</h3>
		</div>
	</ng-template>
</div>