<div class="row" *ngIf="filtersLoaded | async">
	<div class="col-md-12">

		<nb-card accent="info">
			<nb-card-header>
				Individual Tasks
			</nb-card-header>
			<nb-card-body>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>Name</th>
								<th>Description</th>
								<th>Status</th>
								<th>Action</th>
								<th>Date Created</th>
							</tr>
						</thead>
						<tbody *ngIf="tasksModel.length > 0; else block_task">
							<tr *ngFor="let tasks of tasksModel">
								<td>{{tasks.tasks_details.name}}</td>
								<td>{{ tasks.tasks_details.description }}</td>
								<td [class]="tasks.status == 'completed' ? 'text-success' : 'text-info' " >{{ tasks.status }}</td>
								<td>
									<button type="button" [disabled]="tasks.status == 'completed'" class="btn btn-link text-danger p-0" (click)="toggleStatus(tasks._id)">Mark as Complete</button>
								</td>
								<td> {{ tasks.date_created | date:'mediumDate' }} </td>
							</tr>
						</tbody>
						<ng-template #block_task>
							<tbody>
								<td colspan="5">
									No Individual Task Assigned
								</td>
							</tbody>
						</ng-template>
					</table>
				</div>
			</nb-card-body>
		</nb-card>
	</div>
</div>