<div class="row" *ngIf="filtersLoaded | async"> 
	<div class="col-md-12">
		<nb-card accent="warning">
			<nb-card-header>
				<div class="row">
					<div class="col-md-6 text-left">
						List of Projects
					</div>
					<div class="col-md-6 text-right">
						<button class="btn btn-link text-primary p-0" routerLink="/add_project">Create Project</button>
					</div>
				</div>
			</nb-card-header>
			<nb-card-body>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>Name</th>
								<th>Description</th>
								<th>Status</th>
								<th>Date Created</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody *ngIf="projects.length > 0; else else_block">
							<tr *ngFor="let project of projects">
								<td>{{ project.project_details.name }}</td>
								<td>{{ project.project_details.description }}</td>
								<td>
									<span class="badge badge-info p-2">{{ project.status }}</span>
								</td>
								<td>{{ project.date_created | date : 'mediumDate'}}</td>
								<td>
									<a class="btn btn-link text-success p-0 m-0" routerLink="/project_details/{{project._id}}">
										View
									</a>
								</td>
							</tr>
						</tbody>
						<ng-template #else_block>
							No project is added
						</ng-template>
					</table>
				</div>
			</nb-card-body>
		</nb-card>
	</div>
</div>