<div class="row" *ngIf="filtersLoaded | async">

	<div class="col-md-12">
		<nb-card accent="success">
			<nb-card-header>
				List of Projects
			</nb-card-header>
			<nb-card-body>
				<div class="table-responsive">
					<ng-container *ngIf="projects.length > 0; else else_block">
						<table class="table">
							<thead>
								<tr>
									<th>Project Name</th>
									<th>Description</th>
									<th>Status</th>
									<th>Date Created</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody [@fade]="projects.length">
								<tr *ngFor="let project of projects">
									<td>{{ project.project_name }}</td>
									<td>{{ project.project_description }}</td>
									<td>
										<span class="badge badge-info p-2">{{ project.status }}</span>
									</td>
									<td>{{ project.date_created | date : 'mediumDate'}}</td>
									<td>
										<a class="btn btn-link text-success p-0" routerLink="/myProjectDetails/{{project.project_id}}">
											View
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</ng-container>
				</div>
				<ng-template #else_block>
					No Projects
				</ng-template>
			</nb-card-body>
		</nb-card>
	</div>
</div>