<div class="row" *ngIf="filtersLoaded | async">

	<div class="col-md-6 offset-md-3">

		<nb-card [accent]="tasksModel.status == 'completed' ? 'success' : 'danger'" *ngIf="tasksModel != null; else else_block">
			<nb-card-header>
				{{ tasksModel.tasks_details.name }}
			</nb-card-header>
			<nb-card-body>

				<nb-list>
					<nb-list-item class="text-left">
						Description: {{ tasksModel.tasks_details.description }}
					</nb-list-item>
					<nb-list-item>
						Status: {{ tasksModel.status }}
					</nb-list-item>
					<nb-list-item>
							<button type="button" [disabled]="tasksModel.status == 'completed'" (click)="toggleStatus(tasksModel._id)"
							[class]="tasksModel.status == 'completed' ? 'text-success btn btn-link p-0' : 'text-danger btn btn-link p-0'">Mark as Complete</button>
					</nb-list-item>
				</nb-list>


			</nb-card-body>
		</nb-card>

		<ng-template #else_block>
			<div class="col-md-6 offset-md-3 text-center">
				<h2>
					No Tasks
				</h2>
			</div>
		</ng-template>

	</div>

</div>