<div class="container">
    <div class="row">
            <div class="col-md-6">
                    <a class="btn btn-link" routerLink="/profile">&laquo; Go back</a>
            </div>
            <div class="col-md-6 text-right">
                <a class="btn btn-link"   (click)="getAllAttendance()">View All Attendance &raquo;</a>
            </div>
    </div>
</div>
<div class="jumbotron jumbotron-fluid bg-white text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>
                    Pick a date
                </h1>
            </div>
            <div class="col-md-6">
                <form #dateForm="ngForm" class="form ml-auto mr-auto" method="POST" (ngSubmit)="onFormSubmit()">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <input type="date" class="form-control" name="date" [(ngModel)]="dateModel">
                        </div>
                        <div class="input-group-text" id="btnGroupAddon">
                            <button type="Submit" class="btn btn-outline-secondary">View Attendance</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="error">
            <p>Please select a date!</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>