<div class="row" *ngIf="filtersLoaded | async">
	<div class="col-md-4 mr-auto ml-auto">
		<nb-card accent="primary" class="text-center">
			<nb-card-body style="flex: inherit !important;">
				<h5 class="card-title">
					Name: {{projectModel[0].project_name}}
				</h5>
				<h5 class="card-text">
					Description: {{ projectModel[0].project_description }}
				</h5>
				<h5 class="card-text">
					Status:
					<span class="badge badge-info p-2">{{ projectModel[0].status }}</span>
				</h5>
			</nb-card-body>
			<nb-card-body>
				<div class="row">
					<div class="col-md-6">
						<button nbButton outline status="primary" class="mr-2" size="xsmall" *ngIf="!edit" (click)="toggleEdit()">Edit</button>
					</div>
					<div class="col-md-6">
						<button size="xsmall" *ngIf="!edit" class="mr-2" (click)="deleteProject()" nbButton outline status="danger">Delete</button>
					</div>
				</div>
			</nb-card-body>
			<nb-card-body>
				<nb-list>
					<nb-list-item>
						<button type="button" class="btn btn-link text-danger p-0 btn-xs" data-toggle="modal" data-target="#updateModal">Update Daily Tasks</button>
					</nb-list-item>
					<nb-list-item>
						<button type="button" class="btn btn-link text-danger p-0 btn-xs" data-toggle="modal" data-target="#viewModal">View Daily Updates</button>
					</nb-list-item>
					<nb-list-item>
						<button type="button" class="btn btn-link text-danger p-0 btn-xs" routerLink="/projectTasksDetails/{{projectModel[0].project_id}}">View Tasks</button>
					</nb-list-item>
				</nb-list>
			</nb-card-body>
		</nb-card>
	</div>

	<div class="col-md-4 mr-auto ml-auto" *ngIf="edit">
		<nb-card accent="info" class="text-center">
			<nb-card-header>
				Edit Project
			</nb-card-header>
			<nb-card-body>
				<form (ngSubmit)="onFormSubmit()" class="mb-3">
					<div class="form-group" *ngIf="edit">
						<label for="name">Name: </label>
						<input type="text" id="name" #name="ngModel" class="form-control" name="name" [(ngModel)]="projectModel[0].project_name"
						 [class.is-invalid]="name.invalid && name.touched" [class.is-valid]="name.valid && name.touched" required>
						<small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
					</div>

					<div class="form-group" *ngIf="edit">
						<label for="first_name">Description: </label>
						<input type="text" id="description" #description="ngModel" class="form-control" name="description" [(ngModel)]="projectModel[0].project_description"
						 [class.is-invalid]="description.invalid && description.touched" [class.is-valid]="description.valid && description.touched"
						 required>
						<small class="text-danger" [class.d-none]="description.valid || description.untouched">Description is required</small>
					</div>

					<div class="form-group" *ngIf="edit">
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="status" #status="ngModel" [(ngModel)]="projectModel[0].status" id="inlineRadio1"
							 value="In Progress">
							<label class="form-check-label" for="inlineRadio1">In Progress</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="status" #status="ngModel" [(ngModel)]="projectModel[0].status" id="inlineRadio2"
							 value="On Hold">
							<label class="form-check-label" for="inlineRadio2">On Hold</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="status" #status="ngModel" [(ngModel)]="projectModel[0].status" id="inlineRadio3"
							 value="Completed">
							<label class="form-check-label" for="inlineRadio3">Completed</label>
						</div>
					</div>
					<button nbButton outline status="primary" size="xsmall" *ngIf="edit" class="mr-2">Update</button>
					<button nbButton outline status="danger" size="xsmall" *ngIf="edit" class="mr-2" (click)="cancelUpdate()">Cancel</button>
				</form>
			</nb-card-body>
		</nb-card>
	</div>

	<div class="col-md-4 mr-auto ml-auto">
		<nb-card accent="danger" class="text-center">
			<nb-card-header>
				Project Members
			</nb-card-header>
			<nb-card-body>
				<div class="row">
					<div class="col-md-6 text-left">
						<h6>Employees</h6>
					</div>
					<div class="col-md-6 text-right">
						<button class="btn btn-link text-danger p-0" status="primary" size="xsmall" (click)="editEmployees()">Edit</button>
					</div>
				</div>
				<nb-alert status="danger" closable *ngIf="warning" (click)="closeEmployeeWarning()">{{ warning }}</nb-alert>
				<nb-list *ngIf="projectModel[0].employee_id != ''; else employee_else">
					<nb-list-item *ngFor="let employee of projectModel" class="text-left">
						<div class="row">
							<div class="col-md-*">
								<nb-user [name]="employee.employee_first_name + ' ' + employee.employee_last_name" [title]="employee.employee_designation">
								</nb-user>
							</div>
							<div class="col-md-6" *ngIf="employeeEdit">
								<a (click)="remove(employee)" class="text-warning">
									<i class="fas fa-minus"></i>
								</a>
							</div>
						</div>
					</nb-list-item>
				</nb-list>
				<div class="row" *ngIf="employeeEdit">
					<div class="col-md-12">
						Add Employee
					</div>
					<div class="col-md-12">
						<form (ngSubmit)="onEmployeeFormSubmit()" class="mb-3">
							<div class="form-group">
								<div class="row">
									<div class="col-md-12 mt-3">
										<div class="row">
											<div class="col-md-12 dropdown mb-2">
												<button class="dropdown-toggle p-2" type="button" id="dropdownMenuButtonIOS" data-toggle="dropdown" aria-haspopup="true"
												 aria-expanded="false">IOS Developer</button>
												<div class="dropdown-menu">
													<ng-container *ngFor="let employee of userModel">
														<button type="button" *ngIf="employee.employee_designation == 'Developer (IOS)'" class="dropdown-item m-2 text-dark" (click)="add_employee(employee)">
															<nb-user [name]="employee.employee_first_name + ' ' + employee.employee_last_name">
															</nb-user>
														</button>
													</ng-container>
												</div>
											</div>
											<div class="col-md-12 dropdown mb-2">
												<button class="dropdown-toggle p-2" type="button" id="dropdownMenuButtonANDROID" data-toggle="dropdown" aria-haspopup="true"
												 aria-expanded="false">Android Developer</button>
												<div class="dropdown-menu">
													<ng-container *ngFor="let employee of userModel">
														<button type="button" *ngIf="employee.employee_designation == 'Developer (Android)'" class="dropdown-item m-2 text-dark"
														 (click)="add_employee(employee)">
															<nb-user [name]="employee.employee_first_name + ' ' + employee.employee_last_name">
															</nb-user>
														</button>
													</ng-container>
												</div>
											</div>
											<div class="col-md-12 dropdown mb-2">
												<button class="dropdown-toggle p-2" type="button" id="dropdownMenuButtonBACKEND" data-toggle="dropdown" aria-haspopup="true"
												 aria-expanded="false">Backend Developer</button>
												<div class="dropdown-menu">
													<ng-container *ngFor="let employee of userModel">
														<button type="button" *ngIf="employee.employee_designation == 'Backend Developer'" class="dropdown-item m-2 text-dark" (click)="add_employee(employee)">
															<nb-user [name]="employee.employee_first_name + ' ' + employee.employee_last_name">
															</nb-user>
														</button>
													</ng-container>
												</div>
											</div>
											<div class="col-md-12 dropdown mb-2">
												<button class="dropdown-toggle p-2" type="button" id="dropdownMenuButtonDESIGNER" data-toggle="dropdown" aria-haspopup="true"
												 aria-expanded="false">Designer</button>
												<div class="dropdown-menu">
													<ng-container *ngFor="let employee of userModel">
														<button type="button" *ngIf="employee.employee_designation == 'Designer'" class="dropdown-item m-2 text-dark" (click)="add_employee(employee)">
															<nb-user [name]="employee.employee_first_name + ' ' + employee.employee_last_name">
															</nb-user>
														</button>
													</ng-container>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<button nbButton outline status="primary" size="xsmall" class="mr-2">Update</button>
							<button nbButton outline status="danger" size="xsmall" class="mr-2" (click)="cancelEditEmployee()">Cancel</button>
						</form>
					</div>
				</div>
				<ng-template #employee_else>
					<div class="col-md-12">
						<p class="mt-auto mb-auto">
							Currently there are no employees working on this project.
						</p>
					</div>
				</ng-template>
			</nb-card-body>
			<nb-card-body *ngIf="!employeeEdit">
				<div class="row">
					<div class="col-md-6 text-left">
						<h6>Project Manager</h6>
					</div>
					<div class="col-md-6 text-right">
						<button class="btn btn-link text-danger p-0" status="primary" size="xsmall" (click)="editProjectManager()">Edit</button>
					</div>
				</div>
				<nb-list *ngIf="projectModel[0].project_manager_first_name != null; else manager_else">
					<nb-list-item class="text-left">
						<nb-user [name]="projectModel[0].project_manager_first_name + ' ' + projectModel[0].project_manager_last_name" [title]="projectModel[0].project_manager_designation">
						</nb-user>
					</nb-list-item>
				</nb-list>
				<div class="row" *ngIf="projectManagerEdit">
					<div class="col-md-12">
						<form (ngSubmit)="onProjectManagerFormSubmit()" class="mb-3">
							<div class="form-group">
								<select class="form-control" name="project_manager" #project_manager="ngModel" [(ngModel)]="projectManager.project_manger">
									<option *ngFor="let employee of userModel" value="{{employee.employee_id}}">
										{{ employee.employee_first_name }} {{ employee.employee_last_name }} ({{ employee.employee_designation }})
									</option>
								</select>
							</div>
							<button nbButton outline status="primary" size="xsmall" class="mr-2">Update</button>
							<button nbButton outline status="danger" size="xsmall" class="mr-2" (click)="cancelProjectManager()">Cancel</button>
						</form>
					</div>
				</div>
				<ng-template #manager_else>
					<div class="col-md-12">
						<p class="mt-auto mb-auto">
							Currently there is no manager working on this project.
						</p>
					</div>
				</ng-template>
			</nb-card-body>
			<nb-card-body *ngIf="!employeeEdit">
				<div class="row">
					<div class="col-md-6 text-left">
						<h6>Responsible Person</h6>
					</div>
					<div class="col-md-6 text-right">
						<button class="btn btn-link text-danger p-0" status="primary" size="xsmall" (click)="editResponsiblePerson()">Edit</button>
					</div>
				</div>
				<nb-list *ngIf="projectModel[0].responsible_person_first_name != null; else responsible_else">
					<nb-list-item class="text-left">
						<nb-user [name]="projectModel[0].responsible_person_first_name + ' ' + projectModel[0].responsible_person_last_name" [title]="projectModel[0].responsible_person_designation">
						</nb-user>
					</nb-list-item>
				</nb-list>
				<div class="row" *ngIf="responsiblePersonEdit">
					<div class="col-md-12">
						<form (ngSubmit)="onResponsiblePersonFormSubmit()" class="mb-3">
							<div class="form-group">
								<select class="form-control" name="responsible_person" #responsible_person="ngModel" [(ngModel)]="projectManager.responsible_person">
									<hr>
									<option *ngFor="let employee of userModel" value="{{employee.employee_id}}">
										{{ employee.employee_first_name }} {{ employee.employee_last_name }} ({{ employee.employee_designation }})
									</option>
								</select>
							</div>
							<button nbButton outline status="primary" size="xsmall" class="mr-2">Update</button>
							<button nbButton outline status="danger" size="xsmall" class="mr-2" (click)="cancelResponsiblePerson()">Cancel</button>
						</form>
					</div>
				</div>
				<ng-template #responsible_else>
					<div class="col-md-12">
						<p class="mt-auto mb-auto">
							Currently there is no responsible person for this project.
						</p>
					</div>
				</ng-template>
			</nb-card-body>
		</nb-card>
	</div>
</div>


<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Update Daily Task</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form (ngSubmit)="onUpdateFormSubmit()">
					<div class="form-group">
						<textarea name="updates" class="form-control" #description="ngModel" [(ngModel)]="updateModel.description" [class.is-invalid]="description.invalid && description.touched"
						 [class.is-valid]="description.valid && description.touched" required>
							</textarea>
						<small class="text-danger" [class.d-none]="description.valid || description.untouched">Description is required</small>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">Save</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" *ngIf="tasksLoaded | async" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
 aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">View Daily Task</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<nb-list *ngIf="dailyUpdateModel.length > 0; else dailyTasksUpdate_else">
					<nb-list-item *ngFor="let tasksUpdates of dailyUpdateModel" class="text-left">
						<nb-user [name]="tasksUpdates.description">
						</nb-user>
					</nb-list-item>
				</nb-list>
				<ng-template #dailyTasksUpdate_else>
					<ul>
						<li>No daily updates found.</li>
					</ul>
				</ng-template>
			</div>
			<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
		</div>
	</div>
</div>